.nav-button {
    margin: 20px;
}

.navbar {
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 50px;
}

.navbar div a {
    margin-right: 30px;
    color: white;
}

.nav div a:hover {
    color: darkblue;
}