.header-content {
    padding: 0 15% 0 15%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content h1 {
    font-size: 64px;
    margin-top: 40px;
}

.header-content > p {
    width: 50%;
    margin: 20px 0 20px 0;
}
